In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('./data/flow_train.csv')

In [13]:
print("flow df shape:",df.shape)
print("unique number of city",df['city_code'].unique().shape[0])
print("unique number of district",df['district_code'].unique().shape[0])
df.head()

flow df shape: (26852, 6)
unique number of city 7
unique number of district 98

,date_dt,city_code,district_code,dwell,flow_in,flow_out
0,20170601,06d86ef037e4bd311b94467c3320ff38,85792b2278de59316d1158f6a97537ec,118.861740,54.421293,52.089701
1,20170601,5615dc7c1af1f7dabd80bd8b8ecb1ea0,1d86aa481642ba64ef42e2956339bbad,130.333409,235.490857,231.275943
2,20170601,c7537db4101856877ea6381d0174283c,08751b85e3dc67f2e690cf8945a4d85b,98.698267,57.672715,54.252464
3,20170601,5615dc7c1af1f7dabd80bd8b8ecb1ea0,50ec193f67e23ca084bb7af4100c1243,280.984567,571.333345,555.579813
4,20170601,3f7f0ce35d6d0a08377eb2efe2189f4f,dad5b1a26517a039827215846bcaf394,99.126162,72.334678,69.968155

Is the district code unique regardless of city ?

In [34]:
long_code = df['district_code']+'-'+ df['city_code']
long_code.unique().shape[0] == df['district_code'].unique().shape[0]

True

In [28]:
df2 = pd.read_csv('./data/transition_train.csv')
print("transiction df shape: ",df2.shape)
print("date range: {} to {}".format(df2['date_dt'].min(),df2['date_dt'].max()))
df2.head()

transiction df shape:  (2480320, 6)
date range: 20170601 to 20180301

,date_dt,o_city_code,o_district_code,d_city_code,d_district_code,cnt
0,20170601,a20d041605db832309e26c003c626719,879c99a1536ce81df8e84c0c9cf6ff68,3f7f0ce35d6d0a08377eb2efe2189f4f,01bb949d16b241654d3be95fa224abc8,0.008733
1,20170601,c7537db4101856877ea6381d0174283c,82271c9f4c9bf3b072ebe43b29d01caf,c7537db4101856877ea6381d0174283c,4a2ee3a671acbb271743ca0abbcadc70,2.066705
2,20170601,5615dc7c1af1f7dabd80bd8b8ecb1ea0,2d9ca395c9405028ca5d6635253d7166,a20d041605db832309e26c003c626719,01c2fa70527b0c72808f3bc27eaad4c9,0.177562
3,20170601,a20d041605db832309e26c003c626719,cc000ec2dd2b1c6571e74cecc641656e,58a33c947775af5de36841c9f553317d,0b28636d08bff292de12f663d522c55f,0.113523
4,20170601,c7537db4101856877ea6381d0174283c,3f92d69b5335d09f3365beaeec3da4b8,58a33c947775af5de36841c9f553317d,0b28636d08bff292de12f663d522c55f,0.058217

In [21]:
df2[(df2['o_city_code']=='a20d041605db832309e26c003c626719') & (df2['date_dt']==20170601)]['cnt'].sum()

25068.39920591951

In [27]:
df[(df['city_code']=='a20d041605db832309e26c003c626719') & (df['date_dt']==20170601)]['flow_out'].sum()

25068.39920591951